name: Test
on: 
  push: 
    branches: [main]
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: setup Node.js
        uses: actions/setup-node@v6
        with:   
          node-version: 25
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: install deps
        run: bun ci
      - name: build
        run: bun run trick-tsd && bun run build
      - name: run test
        run: bun run test
