name: Test
on: 
  push: 
    branches: [main]
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:   
          node-version: 25
      - uses: grafana/setup-k6-action@v1
      - uses: oven-sh/setup-bun@v2
      - run: bun ci
      - name: build
        run: bun run trick-tsd && bun run build 
      - name: test
        run: mkdir tmp && bun run test:base && bun run test:load && rm -rf tmp
