name: Test and publish
on:
  release:
    types: [created]
permissions:
  id-token: write
  contents: read
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: setup Node.js
        uses: actions/setup-node@v6
        with: 
          node-version: 25
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - uses: grafana/setup-k6-action@v1
      - name: install deps
        run: bun install
      - name: build
        run: bun run trick-tsd && bun run build
      - name: test
        run: mkdir tmp && bun run test:base && bun run test:load && rm -rf tmp
      - name: Publish to npm
        run: npm publish
